profiles {
    standard {
        executor {
            queueSize = 4
        }
        env {
            GATK_JAR="/home/ubuntu/data/miniconda2/opt/gatk-3.7/GenomeAnalysisTK.jar"
            PICARD_JAR="/home/ubuntu/data/miniconda2/share/picard-2.11.0-0/picard.jar"
        }
    }
}

mail {
    from = "lethanhx2k@gmail.com"
    smtp.host = 'email-smtp.us-east-1.amazonaws.com'
    smtp.port = 587
    smtp.user = ''
    smtp.password = ''
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
}
